html {
    background-color: black;
}

.titulo {
    text-align: center;
    color: red;
    font-size: 20px;
    
}

#imagem1 {
    position:absolute;
    top: 9%;
    left: 4.9%;
    font-size: 15px;
    
    
}

#imagem2 {
    position:absolute;
    bottom: 5%;
    left: 4.9%;
    font-size: 15px;
   
}

#imagem3 {
    position:absolute;
    top: 9%;
    right: 23%;
    font-size: 15px;

}

#imagem4 {
    position:absolute;
    bottom: 5%;
    right: 23%;
    font-size: 15px;
    
}


#paragrafo1 {
    color: white;
    position: absolute;
    top: 7%;
    left: 31%;
    font-size:18px;
    text-align: center;

}

#paragrafo2 {
    color: white;
    position: absolute;
    bottom: 6%;
    left: 31.5%;
    font-size:18px;
    text-align: center;
}

#paragrafo3 {
    color: white;
    position: absolute;
    top: 7%;
    right: 7%;
    font-size:18px;
    text-align: center;
}

#paragrafo4 {
    color: white;
    position: absolute;
    bottom: 10%;
    right: 9%;
    font-size:18px;
    text-align: center;
}